<div class="footer">
    <div class="container-button">
        <section>
            <div class="button-row">
              <a href="#">Voltar ao inicio</a>              
            </div>
        </section>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>Siga nossas redes sociais</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Ajuda</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Envios</a></li>
                    <li><a href="#">Devolucoes</a></li>
                    <li><a href="#">Estatus do pedido</a></li>
                    <li><a href="#">Opcoes de Pagamento </a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Precisa de ajuda?</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-whatsapp"></i></a>                    
                </div>
            </div>
            
        </div>
    </div>
    <div class="copyrightText">
        <p>Desenvolvido por #equipe Ecommerce</p>                
    </div>   
</div>
